<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>650658923403-s2svdlg3o4sb5cvl2km0e00898g9chpi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.650658923403-s2svdlg3o4sb5cvl2km0e00898g9chpi</string>
	<key>API_KEY</key>
	<string>AIzaSyDrRtXMDvH1ShIxX1UtVdgTZc7_BZbKNiM</string>
	<key>GCM_SENDER_ID</key>
	<string>650658923403</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaze</string>
	<key>PROJECT_ID</key>
	<string>fir-exam-222cb</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-exam-222cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:650658923403:ios:3b62d6ef81fd2a8297258e</string>
</dict>
</plist>